<div class="panel" style="background-color: rgb(212, 237, 245); ">
<div style="text-align:center">
<div class="panel">
    <div class="panel-body">        
     <div class="table-responsive">
         <h1>Account Details</h1>
         
             
         <table class="table" style="text-align:right">
                <table border="1px" class="table">
         <thead>
             <tr>
                 
                
                 <th>First Name</th><br>
                 <th>Last Name</th><br>
                 <th>EmailID</th><br>
                 <th>Mobile Number</th><br>
                 <th>account Number</th><br>
                 
                 
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>{{details.firstName}}</td>
                 <td>{{details.lastName}}</td>
                 <td>{{details.email}}</td>
                 <td>{{details.mobileNo}}</td>
                 <td>{{details.account.accountNumber}}</td>
                 </tr>
            
         </tbody>
     </table>
    </table>
 </div>
 </div>
</div>
</div>

</div>